.page {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282d31;
  color: #e0e0e0;
  font-family: "Ossem Rounded", Arial, sans-serif;
}

.link-dissolution {
  transition: opacity 0.2s ease-out;
  cursor: pointer;
}

.link-dissolution:hover {
  opacity: 0.3;
}
/* color #A27E8E ?????*/
