.popup__close-button {
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  top: -39px;
  right: -40px;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 650px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -41px;
    right: 0;
  }
}